@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


/* Root Varriable */
:root{
    --bgcolor:#FEF9F9;
}


body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
}

/* -------------------------------------------------Font and Text Style -------------------------------------------*/

nav li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.contentHead{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    background: linear-gradient(to right, #6C63FF, #F5A9A9 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightTxt p{
    font-family: 'Handlee', cursive;
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.37);
}

/* ---------------------------------------- Layout ---------------------------------------------------------*/

.wrapper{
    margin: 0 90px;
}


/* Navbar and header section */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    /* padding: 50px 0; */
    padding: 30px 0;
}

header nav li{
    display: inline-block;
    padding: 30px;
}
 /*  Content Section */

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightTxt{
    padding: 0px 0;
}
.leftImg{
    padding-top: 32px;
}

.leftImg img{
    width: 550px;
}

/* Wave */
.wave{
    width: 100vw;
    position: absolute;
    bottom: -100px;
    
    
}

/* --------------------------------------------- Responsiveness ---------------------------------------------- */

@media screen and (max-width:450px) {
    header{
        margin: 25px 0;
    }
    nav ul{
        padding: 20px 0;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 63px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }

    .wrapper{
        margin: 0 0px;
    }

    .leftImg{
        display: none;
    }
    
    .rightTxt{
        width: 100%;
        text-align: center;
    }
    .wave{
        width: 100vw;
        height: auto;
        bottom: -20px;
    }
    
}
