@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


/* Root Varriable */
:root{
    --bgcolor:#FEF9F9;
}


body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
}

/* -------------------------------------------------Font and Text Style -------------------------------------------*/

nav li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.contentHead{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    background: linear-gradient(to right, #6C63FF, #F5A9A9 );
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightTxt p{
    font-family: 'Handlee', cursive;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.37);
}

/* ---------------------------------------- Layout ---------------------------------------------------------*/

.wrapper{
    padding: 0 90px;
    height: 100vh;
}


/* Navbar and header section */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    padding: 30px 0;
}

header nav li{
    display: inline-block;
    padding: 30px;
}
 /*  Content Section */

.content{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightTxt{
    padding: 0px 0;
}

.leftImg img{
    width: 550px; 
    margin: auto;
}

/* Wave */
.wave{
    width: 100vw;
    position: absolute;
    bottom: -200px;
    
    
}


/* --------------------------------------------- Responsiveness ---------------------------------------------- */


@media screen and (max-width:450px) {
    /* header{
        margin: 25px 0;
    } */
    /* nav ul{
        padding: 20px 0;
    } */    
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 63px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    .contentHead{
        font-size: 3rem;
    }    

    .wrapper{
        padding: 0 0;
    }
    

    .leftImg{
        display: none;
    }
    
    .rightTxt{
        width: 100%;
        text-align: center;
    }
    .wave{
        display: none;
    }
    
}




@media screen and (min-width:451px) and (max-width:1200px) {
    .logo{
        width: 83px;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .content{
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .rightTxt h1{
        font-size: 6rem;
    }

    .rightTxt p{
        font-size: 3rem;
    }
    .leftImg{
        display: none;
    }

    .wave{
        display: none;
    }
}


